.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%); /* Gradient background */
  padding: 40px;
  border-radius: 15px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.tile {
  width: 200px; /* Increase width */
  height: 200px; /* Increase height */
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFF;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* adjust as needed */
  width: 150px; /* adjust as needed */
  margin: 20px; /* adjust as needed */
  border-radius: 10px; /* rounded corners */
  background-color: #c7c4c4; /* adjust as needed */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tile:hover {
  background-color: rgba(10, 10, 10, 0.1);
  transform: scale(1.05); /* subtle grow effect on hover */
}

.tile p {
  font-size: 20px; /* adjust as needed */
  font-weight: bold;
  color: #FFF;
  text-shadow: 1px 1px 0 #000, 
               2px 2px 0 #000, 
               3px 3px 0 #000, 
               4px 4px 0 #000; /* 3D effect */
  font-family: 'Arial, sans-serif'; /* adjust as needed */
}

.tile.active {
  background-color: rgba(255, 255, 255, 0.2);
}
.thrive-title {
  font-family: 'Pacifico', cursive;
  font-size: 1000px; /* adjust as needed */
  color: #efeeee;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* subtle shadow for depth */
  margin-bottom: 100px;
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center; /* Center tiles horizontally */
  flex-wrap: wrap; /* Allow tiles to wrap to next line */
  gap: 40px; /* Space between tiles */
}

.custom-bottom-navigation {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .tile {
    width: 200px;
    height: 300px;
  }
}